<select [(ngModel)]="selectedValue" [compareWith]="compare">
  <option *ngFor="let p of produits" [ngValue]="p">{{p.designation}}</option>

</select>

<label>{{selectedValue.id}}</label>

<select [(ngModel)]="selectedAny" [compareWith]="compareAny">
  <option *ngFor="let a of anyObject" [ngValue]="a">{{a.libelle}}</option>

</select>

<label>{{selectedAny.id}}</label>
<br/>

<!--<a href="javascript:void(0)" (click)="downloadFile()">Download</a>-->
<a [routerLink]="" (click)="downloadFile()" style="cursor: pointer">Download</a>


