<div>
  <div class="container spacer">
    Mot de clé: <input type="text" [(ngModel)]="designation" (input)="filtrer()" />
  </div>

  <div class="container">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>DESIGNATION <button (click)="sortBy('design')"><span *ngIf="ascDesign" class="glyphicon glyphicon-arrow-down"></span><span *ngIf="!ascDesign" class="glyphicon glyphicon-arrow-up"></span></button></th>
        <th>QUANTITE <button (click)="sortBy('qte')"><span *ngIf="ascQte" class="glyphicon glyphicon-arrow-down"></span><span *ngIf="!ascQte" class="glyphicon glyphicon-arrow-up"></span></button></th>
        <th>PRIX <button (click)="sortBy('prix')"><span *ngIf="ascPrix" class="glyphicon glyphicon-arrow-down"></span><span *ngIf="!ascPrix" class="glyphicon glyphicon-arrow-up"></span></button></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let produit of produits">
        <td>{{produit.id}}</td>
        <td>{{produit.designation}}</td>
        <td>{{produit.quantite}}</td>
        <td>{{produit.prix}}</td>
        <td><a class="clickable" (click)="supprimer(produit)">Supprimer</a></td>
        <td><a class="clickable" [routerLink]="['modifier', produit.id]">Modifier</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="container">
    <ul class="nav nav-pills">
      <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages; let i=index"  class="clickable">
        <a (click)="gotoPage(i)">{{i + 1}}</a>
      </li>
    </ul>
  </div>

  <div lass="container">
    <mat-form-field>
      <input matInput (keyup)="applyFilterDesign($event.target.value)" placeholder="Designation">
    </mat-form-field>

    <mat-form-field>
      <input matInput (keyup)="applyFilterPrix($event.target.value)" placeholder="Prix">
    </mat-form-field>


    <mat-table #table class="table table-striped" [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="designation">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Designation </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.designation}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="prix">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Prix </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prix}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="quantite">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Quantité </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.quantite}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="4" [length]="20" showFirstLastButtons hidePageSize></mat-paginator>

  </div>


</div>



